body {
    background-image: url("../images/what-the-hex.png");
}

.navTitle {
    background-color: rgb(216, 25, 25);
    color: #eeeeee;
    border: white 2px solid;
    padding: 20px;
    margin: 0% 0% 0% 16.3%;
}

.navLinks {
    background-color: rgb(216, 25, 25);
    border: white 2px solid;
    padding:5px;
}

.navbar-nav {
    margin: 0% 20% 0% 0%;
}

nav a {
    font-size: 18px;
    border-right: 2px solid rgb(230, 229, 229);  
}

.navbar .navbar-nav .nav-item {
    color: #eeeeee;
}

.navbar .navbar-nav .nav-item:hover {
    color: #eeeeee;
    background-color:#555;
    transition: 1s;
}

.navbar .navbar-nav .active:hover {
    color: #555;
    background-color:#ffffff;
    transition: 1s;
}

nav a:last-child {
    border-right:none;
}

.jumboBody {
    margin-top: 30px;
    padding-top: 30px;
    background-color:#ffffff;
}

.scrollImage1,.scrollImage2,.scrollImage3 {
    position: relative;
    opacity:0.80;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.scrollImage1 {
    background-image: url('../images/Canes1.png');
    height:800px;
}

.scrollImage2 {
    background-image: url('../images/Canes2.png');
    min-height:500px;
}

.scrollImage3 {
    background-image: url('../images/Canes3.jpg');
    min-height:500px;
}

.section {
    text-align: center;
    padding:20px 30px;
}

.portfolioItem {
    position: relative;
    margin: 20px 60px 20px 15px;
}

.portfolioItem img {
    width:300px;
}

.portfolioTitle {
    position: absolute;
    bottom:10%;
    background-color: rgb(35, 128, 50);
    color:#ffffff;
    text-align:center;
    width: 100%;
    margin-right:20px;
}

.page-footer {
    background-color: rgb(114, 114, 114);
    color:#ffffff;
    font-size:10px;
    padding: 5px 0px 10px 0px;
    border-top:5px solid rgb(255, 2, 2);
}